
extends layout

block content
  .w3-container.w3-teal
    h1 Cinema Dataset

  .w3-container.w3-margin-top
    .w3-card.w3-padding.w3-light-grey
      h3 Navegação

      .w3-bar.w3-margin-top
        a.w3-bar-item.w3-button.w3-teal(href="/filmes") Filmes
        a.w3-bar-item.w3-button.w3-teal(href="/atores") Atores
        a.w3-bar-item.w3-button.w3-teal(href="/generos") Géneros
